<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813148073098-2rq883mat8dud41g7qlpu0hjn59nfrb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813148073098-2rq883mat8dud41g7qlpu0hjn59nfrb7</string>
	<key>API_KEY</key>
	<string>AIzaSyDEsl6sZySLRvew7cK8-x19vGgy4b7qvfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>813148073098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBloc</string>
	<key>PROJECT_ID</key>
	<string>aumet-db76e</string>
	<key>STORAGE_BUCKET</key>
	<string>aumet-db76e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813148073098:ios:7fe2f63017846775645173</string>
</dict>
</plist>